<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- GOOGLE FONTS -->
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- BOOTSTRAP ICONS -->
    <title>Meu Portifólio</title>
</head>
<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <img src="static/img/logo.png" width="100" height="100">
                </a>
    
            </div> <!--logo-->

        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Especialidades</a></li>
                <li><a href="#">Sobre Mim</a></li>
                <li><a href="#">Projetos</a></li>
            </ul>
        </nav>

        <div class="botao-contato">
            <a href="#">
                <button>Contato</button>
            </a>

        </div> <!--interface-->

    </header>
    se
    <main>
        <section class="topo-site">
            
            <div class="interface"><!--interface-->
                <div class="flex"><!--flex-->
                    
                    <div class="txt-topo-site"><!--txt-topo-site-->
                        
                        <h1>SE VOCÊ NÃO ESTÁ NA INTERNET, VOCÊ NÃO ESTÁ NO JOGO <span>.</span></h1>
                    
                        <p>Do conceito à implementação, criamos experiências web envolventes. Destaque-se na multidão digital, conquiste clientes e crie conexões! </p>
                        
                        
                        <div class="botao-contato">
                            <a href="#">
                                <button>Entre em contato</button>
                            </a>
                        </div>
                        

                    </div><!--txt-topo-do-site-->

                    <div class="img-topo-site"><!--img-topo-site-->
                        <img src="static/img/eu.png" alt="minha foto" width="300" height="300">
                    </div><!--img-topo-site-->
                    
                </div><!--flex-->
            </div><!--interface-->
        </section><!--topo-site-->
        
        <section class="especialidades">
            <div class="interface">
                <h2 class="titulo">MINHAS <span>ESPECIALIDADES.</span></h2>
                <div class="flex">
                    <div class="especialidades-box">
                        <i class="bi bi-filetype-html"></i>
                        <h3>HTML</h3>
                        
                    </div><!--especialidades-box-->

                    <div class="especialidades-box">
                        <i class="bi bi-filetype-css"></i>
                        <h3>CSS</h3>
                       
                    </div><!--especialidades-box-->

                    <div class="especialidades-box">
                         <i class="bi bi-filetype-py"></i>
                        <h3>PYTHON</h3>
                        

                    </div><!--especialidades-box-->

                    <div class="especialidades-box">
                        <i class="bi bi-filetype-js"></i>
                        <h3>JAVASCRIPT</h3>
                        

                    </div><!--especialidades-box-->

                    </div><!--especialidades-box-->

                </div><!--flex-->
            </div> <!--interface-->
        </section>

        <section class="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img-sobre">
                        <img src="/static/img/eu2.jpg" alt="">
                    </div>

                    <div class="txt-sobre">
                        <h2>MUITO PRAZER, <span>SOU O NÍKOLAS DAVANE!</span></h2>
                        <p>Estudante dedicado de Programação Full Stack, focado em adquirir habilidades abrangentes no desenvolvimento web. Atualmente, estou aprimorando minha expertise em lógica de programação, Python, HTML, CSS e JavaScript para construção de interfaces dinâmicas e interativas. Além disso, estou explorando conceitos essenciais de banco de dados, trabalhando com MySQL e MongoDB. Com uma abordagem prática e orientada a projetos, busco consolidar meu conhecimento teórico e aplicar as melhores práticas do desenvolvimento full stack. Comprometido em continuar aprendendo e contribuir de maneira eficaz para projetos desafiadores.</p>

                        <div class="btn-social"><!--btn-social-->
                            <a href="https://www.instagram.com/nickdavane/" target="_blank"><button><i class="bi bi-instagram"></i></button></a>
                            <a href="https://www.linkedin.com/in/nikolas-davane/" target="_blank"><button><i class="bi bi-linkedin"></i></button></a>
                            <a href="https://github.com/nickdavane" target="_blank"><button><i class="bi bi-github"></i></button></a>
                        </div><!--btn-social-->

                    </div>
                </div>
            </div><!--interface-->

        </section>
        
    </main>
</body>
</html>